<h1 class="center">Hello "#{@user.first_name}"</h1>

<%= link_to "Sign Up", new_user_registration_path %>


<h3>800 - 555 - 5555</h3>

<%= image_tag ("http://pixel.nymag.com/imgs/daily/vulture/2013/03/28/28-04-jack-nicholson-the-shinning.w529.h352.jpg") %>
<br /> <br />
Product.name
<br /> <br />
Product.description
<br /> <br />
Product.min_price
<br /> <br />
Current Total Amount donated
<br /> <br />
Donation Goal
<br /> <br />
Current Total number of Donors <br /> <br />
