<h1>Transaction Index</h1>

<% @products.each do |product| %>
  <ul>
    <li><%= product.name %></li>
  </ul>
<% end %>

<hr>

<% @users.each do |user| %>
  <ul>
    <li><%= user.email %></li>
  </ul>
<% end %>