<!-- Having this sort of page is fine! But it doesn't belong at charge; could be thank_you.html.erb -->
<!-- but also, it's dead code right now X_X -->
<h2>Thank you!</h2>
<p>Your donation of <strong><%= number_to_currency(@amount * 0.01) %></strong>
 has been received.</p>
